[Unit]
Description=Sys-QTT
After=multi-user.target

[Service]
User=pi
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Sys-QTT/sys-qtt.py --settings /home/pi/Sys-QTT/settings.yaml

[Install]
WantedBy=multi-user.target
