[Unit]
Description=Sys-QTT
After=multi-user.target

[Service]
User=maxvram
Type=idle
ExecStart=/usr/bin/python3 /home/maxvram/Sys-QTT/sys-qtt.py --settings /home/maxvram/Sys-QTT/config.yaml

[Install]
WantedBy=multi-user.target
